html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    align-items: center;
}

#visual-container {
    min-width: 100%;
    min-height: 100%;
}

.participant .visual-element.selectable:hover, .editor .visual-element:hover {
    stroke: red !important;
}

.participant .visual-element.selected, .editor .visual-element.selectable {
    stroke: blue !important;
}

.editor .visual-element {
    stroke: lightblue !important;
}

svg {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 10;
}

button, input {
    z-index: 11;
    position: relative;
}

.custom {
    fill-opacity: 0%;
}

#user-box {
    fill: blue;
    fill-opacity: 20%;
}