html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    --visual-scale: 1px;
}

.zoom-button {
    position: absolute;
    left: 2%;
    font-size: 7vh;
    border-radius: 100%;
    z-index: 12;
    padding: 0px 2vh;
    border: 0px;
    background-color: lightgray;
}

.zoom-button:active {
    background-color: darkgray;
}

.zoom-button:hover {
    transform: scale(1.1)
}

#zoom-in {
    top: 2%;
}

#zoom-out {
    top: 12%;
}


#wrapper {
    min-height: 100%;
    align-items: center;
    cursor: grab;
}

#wrapper.panning {
    cursor: grabbing;
}

#visual-container {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}

.participant .visual-element.selectable:hover, .editor .visual-element:hover {
    fill-opacity: 40% !important;
    stroke-opacity: 40% !important;
    filter: saturate(0.3) drop-shadow(0px 0px var(--visual-scale) red) saturate(15);
}

.participant .visual-element.selected, .editor .visual-element.selectable {
    fill-opacity: 40% !important;
    stroke-opacity: 40% !important;
    filter: saturate(0.3) drop-shadow(0px 0px var(--visual-scale) blue) saturate(15);
}

.editor .visual-element {
    fill-opacity: 40% !important;
    stroke-opacity: 40% !important;
    filter: saturate(0.3) drop-shadow(0px 0px var(--visual-scale) cyan) saturate(15);
}

svg {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 10;
}

button, input {
    z-index: 11;
    position: relative;
}

.custom {
    fill-opacity: 0%;
}

#user-box {
    fill: blue;
    fill-opacity: 20%;
}

.dropdown {
    position: absolute;
    display: inline-block;
    z-index: 13;
    right: 2%;
    top: 2%;
    font-size: 4.5vh;
    border: 0px;
    background-color: #ccd9cc;
    min-width: 22vh;
    text-align: center;
}

.dropdown:hover {
    background-color: #bbc7bb;
}

.dropdown-buttons {
    display: none;
    position: absolute;
    box-shadow: 0px 4px 8px 0px #454545;
    z-index: 14;
    font-size: 2vh;
}

.dropdown-buttons button {
    background-color: #ebfaeb;
    border: 0px;
    padding: 0.5vh;
    min-width: 22vh;
    font-size: 2vh;
}

.dropdown-buttons button:hover {
    background-color: #ccd9cc;
    cursor: pointer;
}

.dropdown:hover .dropdown-buttons {
    display: block;
}