


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.container {
    width: 90%;
    height: 600px;
    max-width: 1400px;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 20px;
}

.edit-visual-container {
    width: 100%;
    height: 100%;
    justify-items: center;
}

.go-home-button {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5%;
}

.title-container {
    display: block;
    height: 90%;
}

.survey-title {
    justify-self: center;
    margin: 10px;
}

.intro-text {
    white-space: pre-wrap;
}

.image-section {
    position: relative;
    border: 3px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    grid-column: -3 / 1;
}

.image-section img {
    width: 100%;
    display: block;
}

.controls-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    max-width: 500px;
    grid-column: 1;
}

.progress-percentage {
    text-align: center;
    font-size: 20px;
}

.progress-bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-fill {
    height: 100%;
    width: 25%; /* Set based on progress */
    background-color: orange;
}

.box {
    border: 3px solid #ddd;
    border-radius: 8px;
    height: 100%;
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.question-box {
    background-color: #a8e6cf;
}

.comment-box {
    background-color: #a0c4ff;
}

.button-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.title-button-container {
    justify-self: center;
}

.nav-button {
    background-color: #d9bc66;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav-button:hover {
    background-color: #c9ab59;
}

.text-entry-box {
    width: 100%;
    height: 80%;
    resize: none;
    overflow-y: scroll;
    font: caption;
    padding: 4px;
}

.comment-entry-box {
    background: lightcyan;
}

.question-text-box {
    overflow-y: auto;
    height: 90%;
    width: 100%;
}

.question-text {
    font-weight: normal;
}

.welcome-box {
    justify-self: center;
    background: lightgoldenrodyellow;
    height: 80vh;
    width: 700px;
}

.conclusion-box {
    justify-self: center;
    position: absolute;
    background: lightgoldenrodyellow;
    height: 50%;
}

.answer-box {
    background: salmon;
    max-height: 182px;
    display: flex;
    flex-direction: column;
}

.answer-space {
    overflow-y: auto;
}

.answer-entry-box {
    background: pink;
    height: 105px;
}

.write-in-field {
    background: pink;
    width: 50%;
    border-width: thin;
    padding: 2px;
}

#required {
    color: red;
    font-size: 10px;
}

#error-text {
    color: red;
    font-size: 15px;
    align-self: end;
    margin-top: 5px;
}

#character-tracker {
    font-size: 10px;
    display: block;
}