html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    align-items: center;
}

#visual-container {
    display: inline-block;
    position: relative;
    min-width: 100%;
}

path:hover, .editor path:hover {
    stroke: red !important;
}

.participant path.selected, .editor path.selectable {
    stroke: blue !important;
}

.editor path {
    stroke: lightblue !important;
}

svg {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 10;
}

button, input {
    z-index: 11;
    position: relative;
}
