html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    align-items: center;
}

#visual-container {
    display: inline-block;
    position: relative;
    min-width: 100%;
}

.editor .selection-element:hover, .selectable.selection-element:hover {
    stroke: red !important;
    stroke-opacity: 50 !important;
}

.participant .selected.selection-element, .editor .selectable.selection-element {
    stroke: blue !important;
    stroke-opacity: 50 !important;
}

.editor .selection-element {
    stroke: lightblue !important;
    stroke-opacity: 50 !important;
}

.selection-element {
    stroke-opacity: 0 !important;
    fill-opacity: 0 !important;
}


svg {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: -1;
}

.selection-svg {
    z-index: 0;
}

button {
    z-index: 1;
}
