html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    align-items: center;
}

#visual-container {
    display: inline-block;
    position: relative;
    min-height: none;
    min-width: fit-content;
}

path:hover {
    stroke: red !important;
  }

.selected {
    stroke: blue !important;
}

svg {
    border: 1px solid red; /* temp, visualize size of .svg box */
  }