<h1>Hello {{name}}!</h1>
<h2>Visualizations</h2>
<p>{{visError}}</p>
<form action="/surveyDesigns" method="GET"><button>Create Survey Design</button></form>
<form action="/users/logout" method="POST"><button>logout</button></form>