<h1>This is home page</h1>

<h2> {{name}} </h2>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><form action="/users/logout" method="POST"><button>logout</button></form></li>