<h1>Register a New Account</h1>

<form action="/users" method="POST">
    <input type="text" name="name" 
        placeholder="username">
    <input type="password" name="password" 
        placeholder="password">
    <button>Submit</button>
</form>

<p> {{error}} </p>

<a href="/">↵ Go Home</a>