<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Survey</title>

        <script type="module" src="/src/questionEdit.js" charset="utf-8" defer></script>
        <link rel="stylesheet" href="/takesurveystyle.css">
    </head>
    <body>
        <div class="container">
            <div class="box conclusion-box">
                <span class="question-header">You have finished the survey</span>
                <div class="question-text-box">
                    <span class="question-text">{{conclusionText}}</span>
                </div>
            </div>
        </div>
    </body>
</html> 
 
 
